lab:
  hosts:
    lab01:
      ansible_host: 10.10.10.114
    # lab02:
    #   ansible_host: 10.10.10.11
  vars:
    ansible_user: "Administrative Username"
    ansible_password: "put_a_password_here"
    ansible_connection: winrm
    ansible_winrm_server_cert_validation: ignore